<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true">
        <activity android:name=".DataDisplaySettings"
            android:label="Data Display Settings"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.AdminAccess" />
        </activity>
        <activity
            android:name=".AdminAccess"
            android:label="Admin Access">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.AdminLogin" />
        </activity>
        <activity android:name=".AdminUsersDisplay"
            android:label="Users Display">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.AdminDataDisplay" />
        </activity>
        <activity
            android:name=".AdminDataDisplay"
            android:label="Session">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.AdminAccess" />
        </activity>
        <activity
            android:name=".UserDataDisplay"
            android:label="Session" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.UserLogin" />
        </activity>
        <activity
            android:name=".UserLogin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.MainActivity" />
        </activity>
        <activity
            android:name=".AdminLogin" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="org.eclipse.paho.android.service.MqttService" >
        </service>
    </application>

</manifest>